@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Play:wght@400;700&family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #000000;
  box-sizing: border-box;
  color: #f6f6f6;
}

.titulo-destaque {
  color: #22d4fd;
}

.apresentacao {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 36px;
}

.apresentacao__conteudo__texto {
  font-family: 'Play', monospace;
  font-size: 24px;
}

.apresentacao__links {
  display: flex;
  justify-content: space-between;
  margin: 0 10vh;
}

.apresentacao__links__link {
  background-color: #22D4FD;
  width: 180px;
  text-align: center;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 0;
  text-decoration: none;
  color: #fff;
  font-family: 'VT323', sans-serif;
  text-shadow: 2px 2px 2px #000;
}

.apresentacao img {
  border-radius: 50%;
  box-shadow: 0 0 10px #22D4FD;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px #22D4FD;
  }
  50% {
    box-shadow: 0 0 20px #22D4FD;
  }
  100% {
    box-shadow: 0 0 10px #22D4FD;
  }
}
